{% extends "base.html" %}
{% load static %}


    {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">HELLO</div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="container page-wrapper">
        <div class="row">
            <div class="col text-center">
                <h2 class="titles">Sign up for Streaming yoga</h2>
                <hr style="height:1px;border: width 2px;color:#01016F;;background-color:#01016F;">
            </div>
        </div>
            <div class="row">
                {% for membership in memberships %}
                <div class="col-6 col-lg-4 offset-lg-2">
                    <div class="pricing-card p-3 text-center py-5 mt-2 bg-white rounded">
                        <div class="images"><img src="https://i.imgur.com/YSHRu45.png" width="50"></div>
                        <h6 class="mt-3">{{ membership.type_member }}</h6><span class="d-block font-weight-bold mt-3">{{ membership.price }}</span><span class="d-block">PER MONTH</span>
                        <form action="" method="POST" class="form">
                            {% csrf_token %}
                            
                        </form>
                        <div class="mt-3"><span class="d-block"><i class="fa fa-check"></i>&nbsp;Access to all content</span><span class="text-left"><i class="fa fa-check"></i>&nbsp;Access to some content</span></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
