{% extends "base.html" %}
{% load static %}


    {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">HELLO</div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="overlay"></div>
    <div class="container page-wrapper">
        <div class="row">
            <div class="col text-center">
                <h2 class="titles">Sign up for Streaming yoga</h2>
                <hr style="height:1px;border: width 2px;color:#01016F;;background-color:#01016F;">
            </div>
        </div> 
    </div>
    {% endblock %}
