{% extends "base.html" %}
{% load static %}


    {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">HELLO</div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="container page-wrapper">
        <div class="row">
            <div class="col text-center">
                <h2 class="titles">Sign up for Streaming yoga</h2>
                <hr style="height:1px;border: width 2px;color:#01016F;;background-color:#01016F;">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-lg-block col-lg-10 offset-lg-3">
                <div class="row">
                    {% for membership in memberships %}
                    <div class="col-6 col-lg-4">
                        <div class="pricing-card p-3 text-center py-5 mt-2 bg-white rounded">
                            <div class="images"><img src="" width="50"></div>
                            <h6 class="mt-3">{{ membership.name }}</h6>
                            {% for plan in membership.plan_set.all %}
                            <div>
                                <span class="d-block font-weight-bold mt-3">{{ plan.amount }}</span><span class="d-block">{{ plan.currency }}</span>
                                <a href="{% url 'checkout' %}?membership={{ plan.nickname }}" class="btn btn-black rounded-0 btn-lg">CHECKOUT</a>
                                <div class="mt-3"><span class="d-block"><i class="fa fa-check"></i>&nbsp;{{ membership.description }}</span><span class="text-left"><i class="fa fa-check"></i>&nbsp;Access to some content</span></div>
                            </div>
                            {% endfor %}           
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}