{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 float-md-center">
                <div class="jumbotron-wrapper">
                    <div class="jumbotron text-center">
                        <h1>ONLINE VIDEO LIBRARY</h1>
                        <p class="">Unlimited Access</p>
                        <p class="">100+ Video Library</p>
                        <p class="">Hatha, Yin Yoga, Ashtanga, Vinyasa</p>
                        <a class="btn signup btn-md" href="" role="button">SIGNUP</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}