<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="all-videos-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Videos
            </a>
            <div class="dropdown-menu" aria-labelledby="all-videos-link">
                <a href="#" class="dropdown-item">By Duration</a>
                <a href="#" class="dropdown-item">By Rating</a>
                <a href="#" class="dropdown-item">Browse All</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="duration-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Duration
            </a>
            <div class="dropdown-menu" aria-labelledby="duration-link">
                <a href="#" class="dropdown-item">10' - 20'</a>
                <a href="#" class="dropdown-item">20' - 40'</a>
                <a href="#" class="dropdown-item">40' - 50'</a>
                <a href="#" class="dropdown-item">+60'</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="style-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Style
            </a>
            <div class="dropdown-menu" aria-labelledby="style-link">
                <a href="#" class="dropdown-item">Hatha</a>
                <a href="#" class="dropdown-item">Vinyasa</a>
                <a href="#" class="dropdown-item">Ashtanga</a>
                <a href="#" class="dropdown-item">Yin Yoga</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="function-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Function
            </a>
            <div class="dropdown-menu" aria-labelledby="function-link">
                <a href="#" class="dropdown-item">Energyzing</a>
                <a href="#" class="dropdown-item">Relax</a>
                <a href="#" class="dropdown-item">Restorative</a>
                <a href="#" class="dropdown-item">Detox</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="level-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Level
            </a>
            <div class="dropdown-menu" aria-labelledby="level-link">
                <a href="#" class="dropdown-item">Beginner</a>
                <a href="#" class="dropdown-item">Intermediate</a>
                <a href="#" class="dropdown-item">Advanced</a>
            </div>
        </li>
    </ul>
</div>