<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="all-videos-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Videos
            </a>
            <div class="dropdown-menu" aria-labelledby="all-videos-link">
                <a href="{% url 'videos' %}?sort=duration&direction=asc" class="dropdown-item">By Duration</a>
                <a href="{% url 'videos' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'videos' %}" class="dropdown-item">Browse All</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="style-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Style
            </a>
            <div class="dropdown-menu" aria-labelledby="style-link">
                <a href="{% url 'videos' %}?category=hatha" class="dropdown-item">Hatha</a>
                <a href="{% url 'videos' %}?category=vinyasa" class="dropdown-item">Vinyasa</a>
                <a href="{% url 'videos' %}?category=ashtanga" class="dropdown-item">Ashtanga</a>
                <a href="{% url 'videos' %}?category=yin-yoga" class="dropdown-item">Yin Yoga</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="function-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Function
            </a>
            <div class="dropdown-menu" aria-labelledby="function-link">
                <a href="{% url 'videos' %}?category=energyzing" class="dropdown-item">Energyzing</a>
                <a href="{% url 'videos' %}?category=relax" class="dropdown-item">Relax</a>
                <a href="{% url 'videos' %}?category=restorative" class="dropdown-item">Restorative</a>
                <a href="{% url 'videos' %}?category=detox" class="dropdown-item">Detox</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link menu-item" id="level-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Level
            </a>
            <div class="dropdown-menu" aria-labelledby="level-link">
                <a href="{% url 'videos' %}?category=beginner" class="dropdown-item">Beginner</a>
                <a href="{% url 'videos' %}?category=intermediate" class="dropdown-item">Intermediate</a>
                <a href="{% url 'videos' %}?category=advanced" class="dropdown-item">Advanced</a>
            </div>
        </li>
    </ul>
</div>