{% extends "base.html" %}
{% load static %}


    {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">HELLO</div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="overlay"></div>
    <div class="container page-wrapper">
        <div class="row">
            <div class="col text-center">
                <h2 class="titles">Videos</h2>
                <hr style="height:1px;border: width 2px;color:#01016F;;background-color:#01016F;">
            </div>
        </div> 
        <div class="row">
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or current_sortin != 'None_None' %}
                        <span class="small"><a href="{% url 'videos' %}">All Videos</a></span>
                    {% endif %}
                    {{ videos|length }} Videos{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="row row-cols-2 row-cols-md-4 g-4">
                    {% for video in videos %}
                    <div class="col">
                        <div class="card h-100">
                          <img src="#" class="card-img-top" alt="Ashtanga Video - 01">
                          <div class="card-body">
                            <a href="{% url 'video_detail' video.id %}"> 
                                <h6 class="card-title">{{ video }}</h6>
                                <p class="card-text">{{ video.description }}</p>
                                <ul class="list-inline">
                                    {% if video.rating %}
                                    <li class="list-inline-item">
                                            <small class="text-muted">{{ video.rating }} / 5.00</small>
                                    </li>
                                    {% else %}
                                    <small class="text-muted">No rating</small>
                                    {% endif %}
                                    
                                    <li class="list-inline-item">
                                        <small class="text-muted">{{ video.duration }}</small>  
                                    </li>
                                </ul>
                            </a> 
                            <ul class="list-inline">  
                                <li class="list-inline-item">
                                    {% for category in video.category.all %}
                                        <a href="{% url 'videos' %}?category={{ category.name }}"><small class="text-muted">{{ category }}</small></a>
                                    {% endfor %}
                                </li>
                            </ul>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> 
    </div>
    {% endblock %}
